extends layout
block content
    h1= title
    p Welcome to the closed page
    p This is the closed page
    p web application only available during business hours(monday-friday 9am-5pm)
    p Please visit us during the week